<div class="header">
  <div class="header_left"><ul>
    <li>←戻る</li>
  </ul></div>
  <div class="header_right">
    <ul>
      <li>共有</li>
      <li>公開</li>
      <li>デザインの変更</li>
    </ul>
  </div>
</div>

<%= form_for(@tweet, :url => { controller:'tweets', action:'create'})do |f| %>
<form action="/" method="post">
  <div class="login">
 <div class="field">
   <br><%= f.label :日時 %>
   <%= f.text_field :year,size: 30 %>
 </div>

 <div class="field">
   <br><%= f.label :文字 %>
   <%= f.text_field :body,size: 30 %>
 </div>

 <div class="field">
   <br><%= f.label :画像を選択 %>
   <span class="btn btn-outline-primary btn-file">
    ファイルを選択 <%= f.file_field :image_name%>
</span>
 </div>

 <div class="field">
   <br><%= f.label :説明 %>
   <%= f.text_field :inform,size: 30 %>
 </div>

 <div class="action">
   <br><%= f.submit "追加", class: "btn btn-dark btn-block" %>
 </div>
   </div>
 </form>
<% end %>
